/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Commonly used classes */

/* Class to make an element flex */
.flexRow {
    display: flex;
}

/* Class to make an element flex and changing its flex direction to column */
.flexColumn {
    display: flex;
    flex-direction: column;
}

/* Class to center flex items both horizontally and vertically */
.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Class to center flex items horizontally */
.flexCenterHorizontal {
    justify-content: center;
}

/* Class to center flex items vertically */
.flexCenterVertical {
    align-items: center;
}

/* Class to change font family to Google font 'Poppins' */
.poppins {
    font-family: 'Poppins';
}

/* Class to change font family to Google font 'Lato' */
.lato {
    font-family: 'Lato';
}

/* Class to change font color to white */
.fontWhite {
    color: white;
}

/* Class to change font case to Upper Case */
.fontUpperCase {
    text-transform: uppercase;
}

/* Class to arrange items equally in a flex container */
.arrange {
    justify-content: space-evenly;
}

/* Class to bold a text */
.bold {
    font-weight: bold;
}

/* Start of first container */
.intro {
    height: 100vh;
    background-image: url('/assets/images/plane-bg.png');
}

.introTop {
    background-color: #23B46C;
}

.introTopContainer {
    width: 70%;
    justify-content: space-between;
    padding: 2% 0;
}

.search p {
    display: inline-block;
}

.navbar a:hover {
background-color: #23B46C;
cursor: pointer;
}



.search:nth-child(1) img {
    width: 30%;
    vertical-align: middle;
}

.search:nth-child(2) img,
.search:nth-child(3) img {
    vertical-align: middle;
    margin-left: 2px;
}

.search:nth-child(1) p {
    font-weight: bold;
    font-size: 1.6em;
    vertical-align: middle;
}

.introContact:hover {
    background-color: rgb(136, 136, 161);
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.search:nth-child(4) input {
    padding: 7px 10px;
    font-family: 'Poppins';
    border: none;
}

.search:nth-child(4) {
    position: relative;
}

.search:nth-child(4) img {
    width: 8%;
    position: absolute;
    top: 10px;
    right: 10px;
}

::placeholder {
    color: #DCDCDC;
    font-size: 1.1em;
}

.search:nth-child(2),
.search:nth-child(3) {
    font-size: 0.9em;
}

.introMiddleContainer {
    width: 70%;
    justify-content: space-between;
}

.introMiddle {
    background-color: #222B3C;
    padding: 1% 0;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.introBottom {
    padding-left: 15%;
}

.introBottomFirst {
    width: 40%;
    margin: 10% 0;
}

.introBottomFirst h1 {
    width: 50%;
    line-height: 130%;
    border-left: 6px solid #23B46C;
    padding-left: 5px;
    margin-left: -13px;

}
.introContact :hover {
    background-color: red;
}

.introBottomFirst p {
    font-size: 0.9em;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.introContact {
    padding: 10px 20px;
    background-color: #1ADD78;
    border: none;
}

.introBottomSecond {
    width: 37%;
    padding: 0 4%;
    background-color: #20AA6A;
    margin: 7% 0;
}

.introBottomSecondContainer {
    padding: 20px 0;
}

.introBottomSecondContainer input {
    width: 100%;
    padding: 5px 10px;
    font-size: 0.8em;
    border: none;
}

.introBottomSecondContainer form input {
    margin-bottom: 20px;
}

.quotesButton {
    size: 100px;
    padding: 10px;
    background-color: #222B3C;
    border: none;
}

.quotesButton:hover{
    background-color: rgb(156, 142, 84);
    border-radius: 10px;
    transition: 4s;
    color: black;
}

.introBottomSecondContainer p:nth-child(1) {
    font-size: 1em;
}

.introBottomSecondContainer p:nth-child(2) {
    font-size: 1.4em;
    margin-bottom: 10px;
    margin-top: -5px;
}

.btn:nth-child(1) {
    background-color: #1ADD78;
}

.btn:nth-child(2) {
    background-color: #2D3646;
    margin-top: 5px;
}

.btn {
    padding: 12px 15px;
    border-radius: 50%;
    border: none;
}

.introBottomThird {
    position: relative;
    height: 50%;
    margin-top: 18%;
    margin-left: 15%;
}

.date {
    position: absolute;
    bottom: 0;
}

.introTopContainer :nth-child(1) img {
    width: 20%;
    margin-right: 2px;
}

.icons:hover {
   transform: scale(0.2);
   transition: 3s;
}

/* End of first container */

/* Start of second container */
.denso {
    padding: 5% 20%;
}

.denso p {
    text-align: center;
    margin-top: 5%;
    font-size: 1em;
    color: #565757;
}

.denso h1 {
    font-weight: normal;
    color: #3C3D3D;
    
}

.denso h1 span {
    display: inline-block;
}

.denso h1 span::after {
    content: "";
    height: 6px;
    background-color: #3CB878;
    border-radius: 5px;
    display: block;
}

/* End of second container */

/* Start of third container */
.servicesUpper h1 {
    font-weight: normal;
    color: #2B2A2A
}

.servicesUpper h1 span {
    display: inline-block;
}

.servicesUpper h1 span::after {
    content: "";
    height: 6px;
    background-color: #3CB878;
    border-radius: 5px;
    display: block;
}

.servicesUpper p {
    color: #A9A9A9;
    margin-top: 10px;
}

.servicesLower {
    margin-top: 6%;
    width: 60%;
}

.servicesLowerIcons {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.icons {
    /* Linear gradient helps us to use multiple colors in same element */
    background-image: linear-gradient(to bottom, #3ABA78 30%, #23D278 51%, #14E278 100%);
    padding: 45px 50px;
    border-radius: 50%;
    border: none;
}

.servicesLowerText {
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    color: #787878;
}

.read {
    padding: 15px 40px;
    border: none;
    margin: 5% 0;
    background-color: #222B3C;
}

.read:hover {
    background-color: white ;
    color: #222B3C;
    border: 2px solid #222B3C;
    border-radius: 10px;
    transition: 2s;
}


/* End of third container */

/* Start of fourth container */
.aboutLeft {
    width: 50%;
    padding: 4% 0;
    padding-left: 15%;
    padding-right: 20px;
    background-color: #F7F6F6;
}

.aboutLeft h1 {
    font-weight: normal;
    color: #3F3E3E;
}

.aboutLeft h1 span {
    display: inline-block;
}

.aboutLeft h1 span::after {
    content: "";
    height: 6px;
    background-color: #3CB878;
    border-radius: 5px;
    display: block;
}

.aboutLeft p {
    margin-top: 20px;
    color: #A7A6A6;
    text-align: justify;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.aboutLeftAddition {
    display: none;
}

.aboutRight {
    width: 50%;
    background-image: url('/assets/images/rectangle_30_copy.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* End of fourth container */

/* Start of fifth container */
.latestHeading {
    color: #2C2C2C;
    margin: 5% 0;
    font-weight: normal;
}

.latestHeading span {
    display: inline-block;
}

.latestHeading span::after {
    content: "";
    height: 6px;
    background-color: #3CB878;
    border-radius: 5px;
    display: block;
}

.latestCards img {
    width: 100%;
}

.latestCards {
    position: relative;
}

.latestCards button {
    width: 50px;
    padding: 9px 10px;
    background-image: linear-gradient(to bottom, #3ABA78 30%, #23D278 51%, #14E278 100%);
    border-radius: 100%;
    position: absolute;
    top: 45%;
    border: none;
}

.latestCards h3 {
    margin-top: 10%;
    font-size: 0.9em;
    text-align: center;
    color: #505763;
}

.latestCards p {
    font-size: 0.9em;
    padding: 0 3%;
    text-align: center;
    margin: 20px 0;
    color: #9C9B9B;
}

.latestMain {
    width: 70%;
}

.latestMain :nth-child(2) {
    margin: 0 20px;
    box-shadow: 20px 20px 80px #F9F8F8 ;
}

.latestMain :nth-child(odd) {
    background-color: #F9F8F8;
}

/* End of fifth container */

/* Start of sixth container */
.testimonals {
    background-image: url('/assets/images/layer_6.png');
    padding-bottom: 10%;
    object-fit: cover;
    background-color: #32A96F;
}

.testimonalHeading {
    font-weight: normal;
    text-align: center;
    margin: 4% 0;
}

.testimonalHeading h1 span {
    display: inline-block;
}

.testimonalHeading h1 span::after {
    content: "";
    height: 6px;
    background-color: white;
    border-radius: 5px;
    display: block;
}

.testimonalMainMiddle {
    width: 70%;
}

.testimonalMain {
    justify-content: space-around;
    margin-top: 10px;
}

.consecteturUpper img {
    width: 15%;
}

.consecteturUpper p {
    color: #66C195;
    font-weight: bold;
    font-size: 1.2em;
}

.consectetur {
    padding: 20px;
    font-size: 0.9em;
    background-color: #F7F6F6;
}

.consectetur p {
    margin: 10px 0;
}

.testimonalMainMiddle :nth-child(1) {
    margin-right: 10px;
}

.testimonalMainLeft button {
    padding: 10px 15px;
    background-color: #222B3C;
    border: none;
}

.testimonalMainRight button {
    padding: 10px 15px;
    background-color: #FFFFFF;
    height: 60vh
}

.testimonalMainRight button {
    height: auto;
    border: none;
}
::-webkit-meter-even-less-good-value
text-d

/* End of sixth container */

/* Start of seventh container */
.request {
    padding: 5%;
  
}

.request h1 {
    font-size: 2em;
    font-weight: normal;
    margin-top: 5%;
}

.request h1 span {
    display: inline-block;
}

.request h1 span::after {
    content: "";
    height: 6px;
    background-color: #3CB878;
    border-radius: 5px;
    display: block;
}

.request input[type="text"],
.request input[type="email"],
.request input[type="tel"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 100%;
    font-family: 'Open Sans';
}

.request form {
    width: 40%;
    padding: 0 10%;
    margin: 5% 0;
}

.request #msg {
    padding-top: 40px;
}

.requestBtn {
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    background-color: #F97218;
    margin-bottom: 5%;
}

.requestBtn:hover {
background-color: rgb(134, 155, 110);
color: black;
transition: 2s;

}

/* End of seventh container */

/* Start of eighth container */
.footerTop {
    justify-content: space-around;
    background-color: #222B3C;
    padding: 20px 0;
}

.demo img {
    margin-right: 5px;
    border: 1px solid white;
    padding: 2px;
}

.footerMiddle {
    background-image: linear-gradient(to bottom, #3ABA78 30%, #23D278 51%, #14E278 100%);
}

.footerMiddleLeft {
    width: 50%;
    padding: 5% 0;
}

.footerMiddleRight {
    width: 50%;
    border-left: 2px solid #64D99D;
    margin: 40px 0;
    justify-content: space-around;
    padding: 20px 0;
    color: #9DE9BE;
}

.footerMiddle {
    padding: 0 10%;
}

.footerMiddleLeftThird a {
    margin-right: 10px;
}

.footerMiddleLeftFirst img {
    width: 10%;
    margin-right: 5px;
}

.footerMiddleLeftSecond :nth-child(1) {
    margin-top: 10px;
}

.footerMiddleLeftSecond {
    padding-right: 20px;
    font-family: 'Open Sans';
    font-size: 0.9em;
    color: #9BD9B5;
}

.footerMiddleLeftSecond :nth-child(2) {
    margin-bottom: 20px;
}

.footerMiddleLeftThird a img {
    width: 90%;
}

.footerBottom {
    background-color: #222B3C;
    padding: 20px 0;
}
/* End of eighth container */